img{
    width: 70%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h6{
    text-align: center;
    margin-top: 15px;
    font-size: 18px;
}

.p{
    font-size: 12px;
    text-align: center;
    padding: 20px 0px;
}

.btn-new{
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: blueviolet;
}

li{
    padding: 30px;
}

.flex-new-now{
    display: flex;
    gap: 30px;
}